.data{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.buttonLinks{

    width: 700px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



#upd{
    text-decoration: inherit;
    margin: 5px;
    font-size: 30px;
}

#del{
    text-decoration: inherit;
    margin: 5px;
    font-size: 30px;
}

#logout{
    text-decoration: inherit;
    margin: 5px;
    font-size: 30px;

}


#userNick{
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

}

.chat{
    margin-top: 20px;
    text-align: center;
}

#goChat{
    

    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align: center;
    color: red;
    
}

#linkNick{
    text-decoration: none;
}

#other{
    margin-top: 200px;
    margin-left: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}



#otherLink{
    text-decoration: none;

}

#otherLink:hover{
    color: red;
} 

@media screen and (max-width: 800px) {
    .buttonLinks{
        width: 600px;
    }
    #upd{
        font-size: 50px;
    }

}

@media screen and (max-width: 750px) {
    .buttonLinks{
        width: 500px;
    }
    #upd{
        font-size: 40px;
    }
    #del{
        font-size: 40px;
    }
    #logout{
        font-size: 40px;
    }
}

@media screen and (max-width: 620px) {
    .buttonLinks{
        width: 380px;
    }
    #upd{
        font-size: 30px;
    }
    #del{
        font-size: 30px;
    }
    #logout{
        font-size: 30px;
    }
}