<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн чат</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet"> <!-- #head -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> <!-- forms -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> <!-- messages -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

        <h1 id="head" >Online Chat</h1>

        <div id="field">


            <div id="messages" >

                {% for i in data %}
                    
                    {% if data %}
                            
                                {% if i.user_nick == current_user.nick %}
                                    

                                        <h3 id="myMessage" >

                                            {{ i.user_nick }}


                                            {% for j in TimeData %}
                                            {% if j['id'] == i.id_message  %}
                                                ( {{ j['timeHour'] }} )
                                            {% endif %}
                                            {% endfor %}
        
                                        <hr>

                                            {{ i.message }}

                                        </h3>



                                        {% else %}

                                        <h3 id="otherMessage" >

                                            {{ i.user_nick }} 

                                            {% for j in TimeData %}
                                            {% if j['id'] == i.id_message  %}
                                                ( {{ j['timeHour'] }} ) 
                                            {% endif %}
                                            {% endfor %}

                                        <hr>

                                            {{ i.message }}

                                        </h3>





                                {% endif %}

                        


                    {% endif %}
                {% endfor %}

                

            </div>

        </div>

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.message(id="message", placeholder="Текст сообщения") }}
        {{ form.submit(id="submit") }}

    </form>

        <a id="updatePage" href="/chat/" type="button">Обновить страницу</a>
        <p id="helpText" >( Что-бы обновить список сообщений )</p>
    

        <a id="link" href="/">На главную</a>

</body>
</html>