<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

    <div id="reg">
    
            <h1 id="head">Регистрация на сайте</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.nick(id="nick", placeholder="Введи ник") }} <br>
            {{ form.password(id="pass", placeholder="Введи пароль") }} <br>
            
            {{ form.submit(id="submit") }}
        </form>

        <h5>Запомни логин и пароль, т.к тебе после регистрации нужно будет авторизоваться</h5>


        <!-- errors -->
        {% for i in form %}

            {% for error in i.errors %}
                <h3 style="color: red" >{{ error }}</h3>
            {% endfor %}

        {% endfor %}


        <!-- flash -->
        {% with messages = get_flashed_messages() %}

        {% if messages %}
    
            {% for message in messages %}
    
                <h4> {{ message }} </h4>
    
            {% endfor %}
    
        {% endif %}
    
        {% endwith %}


        <img src="{{ url_for('static', filename='images/registration.png') }}" alt="">
        <h5 style="margin-top: 30px;"> Есть аккаунт? <a style="text-decoration: none;" href="/login">Авторизируйся</a> </h5>
    </div>


</body>
</html>